.player1{
    margin-top: 6%;
    background-color: white;    
    position: absolute;
    width: 25vw;
    max-height: 50vh;
    justify-content: center;
}
.player2{
    margin-top: 6%;
    background-color: white;    
    position: absolute;
    width: 25vw;
    max-height: 50vh;
    left: 25vw;
    justify-content: center;
}
.player3{
    margin-top: 6%;
    background-color: white;
    position: absolute;
    width: 25vw;
    max-height: 50vh;
    left: 50vw;
    justify-content: center;
}
.player4{
    margin-top: 6%;
    background-color: white;
    position: absolute;
    width: 25vw;
    max-height: 50vh;
    left: 75vw;
    justify-content: center;
}
.player1 img{
    max-height: 586px;
}
.player2 img{
    max-height: 586px;
}
.player3 img{
    max-height: 586px;
}
.player4 img{
    max-height: 586px;
}
.top{
    position: absolute;
    justify-content: center;
    top: 5vh;
    width: 100vw;
}
.bottom{
    position: absolute;
    justify-content: center;
    top: 80vh;
    width: 100vw;
}
.text{
    font-size: 80px;
}